.form {
  min-width: 470px;
  max-width: 690px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
}

.tracks {
  margin-top: 50px;
}
