// .col {
//   position: relative;
// }

// .col > * {
//   position: absolute;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   inset: 0;
// }

.col[data-is-undertracked='true'][data-is-dark-mode='false'] {
  background: var(--color-bleach-white);
}

.col[data-is-exact-tracked='true'][data-is-dark-mode='false'] {
  background: var(--color-snowy-mint);
}

.col[data-is-over-tracked='true'][data-is-dark-mode='false'] {
  background: #ffd6e7;
}

.col_weekend_light {
  background: var(--color-pale-yellow);
}

.col[data-is-undertracked='true'][data-is-dark-mode='true'] {
  background: #93750012;
}

.col[data-is-exact-tracked='true'][data-is-dark-mode='true'] {
  background: #00932012;
}

.col[data-is-over-tracked='true'][data-is-dark-mode='true'] {
  background: #93000012;
}
.col_weekend_dark {
  background: #93750012 !important;
}
