.col {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  position: sticky;
  inset-inline-end: 0;
  z-index: 1;
  // color: var(--color-baltic-sea);
  // background: var(--color-periwinkle);
}

.col[data-is-undertracked='true'][data-is-dark-mode='false'] {
  background: var(--color-bleach-white);
}

.col[data-is-exact-tracked='true'][data-is-dark-mode='false'] {
  background: var(--color-snowy-mint);
}

.col[data-is-over-tracked='true'][data-is-dark-mode='false'] {
  background: #ffd6e7;
}

.col[data-is-undertracked='true'][data-is-dark-mode='true'] {
  background: #1b1913;
}

.col[data-is-exact-tracked='true'][data-is-dark-mode='true'] {
  background: #131d15;
}

.col[data-is-over-tracked='true'][data-is-dark-mode='true'] {
  background: #1d1313;
}