// .Layout {
//   &__Main {
//     width: 100%;
//   }
// }

.Layout__Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
//   margin-top: 32px;
}

.Layout__Footer_dark {
  border-top: 1px solid #2e2e2e;
}

.Layout__Footer_light {
  border-top: 1px solid #eee;
}